.tabelaProd {
    border-collapse: collapse;
    margin: 0 auto;
    border: 2px solid #ccc;

    .tabelaCabecalho {
        background-color: #ecb15f;
        & th {
            border: 2px solid #ccc;
            text-align: center;
        }
    }

    .tabelaCorpo {
        & tr {
            height: 48px !important;
            &:hover {
                background-color: #675d5dee;
            }

            & td {
                border: 2px solid #ccc;
    
                & img {
                    display: block;
                    margin: 0 auto;
                    width: 15%;
                    &:hover {
                        width: 35%;
                    }
                }

                &:first-child{
                    text-align: center;
                }

                &:last-child{
                    text-align: center;
                }
            }
        }

    }

    .tabelaRodape {
        background-color: #ecb15f;
        & td{
            text-align: center;
            font-weight: bold;
        }
    }
}
.containerProduto{
    display: flex;
    flex-direction: column;
}

.alinharBotaoAdicionar{
    width: 100%;
    display: flex;
    justify-content: center;
}

.botaoAdicionar{
    width: fit-content;
    height: fit-content;
    align-self: center;
    padding: 1rem .5rem;
    font-weight: 700;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}